<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794742643452-m6tdd03gnhdh3n00q7v3s7094mtuephh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794742643452-m6tdd03gnhdh3n00q7v3s7094mtuephh</string>
	<key>API_KEY</key>
	<string>AIzaSyB6TDreKXChpGmr6M2g5YT3fYeubdhNw_g</string>
	<key>GCM_SENDER_ID</key>
	<string>794742643452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kate.restaurants</string>
	<key>PROJECT_ID</key>
	<string>restaurants-3e9b1</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurants-3e9b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794742643452:ios:a65899ce11efb404155579</string>
</dict>
</plist>